<h1>Login</h1>

<%= notice %>

<%= form_tag '/login', method: :post do %>
    <p>
        Email:
        <%= text_field_tag :email %>
    </p>
    <p>
        Password:
        <%= password_field_tag :password %>
    </p>
    <p>
        <%= submit_tag :submit %>
    </p>
<% end %>

<%= link_to 'Back', :back %>
