<p id="notice"><%= notice %></p>

<h1>Items</h1>
<% @items.each do |item| %>
<% item_owner = User.find(item.user_id) %>
<div class="card card_float" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><%= item.item_name %></h5>
        <h6 class="card-subtitle mb-2 text-muted">₱<%= item.price %></h6>
        <p class="card-text"><%= item.description %></p>
        <a href="/users/<%= item.user_id %>" class="card-link">Posted by: <%= item_owner.full_name %></a>
        <a href="/items/<%= item.id %>" class="card-link"><%= link_to 'Details', item %></a>
    </div>
</div>
<% end %>
<br>