<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% if session[:user_id] == nil then %>
      <a href='/login'>Login</a>
      <a href='/users/new'>Sign up</a>
    <% else %>
      <% current_user = User.find(session[:user_id]) %>
      You're logged in as <%= current_user.full_name %>
      | <a href='/logout'> Logout</a>
    <% end %>
    
    <%= yield %>
  </body>
</html>
